@keyframes rotate180 {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(180deg); }
}

.content-guest {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#app-title {
    text-transform: uppercase;
    font-weight: bold;
}

#app-icon {
    width: 100px;
    height: 480px;
    animation: rotate180 2s linear infinite alternate;
}